
.item-box{
    display: flex;
    padding: 5px;
    border-radius: 5px;
    background-color:#efefef;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.img-frame{
    width: 12%;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.img-frame img{
    width:100%;
    border-radius: 50%;
}

.item-name{
    font-size: 14px;
    margin-top: 16px;
}
.delete-icon{
    margin-top: -5px;
}