
.main-title{
    padding-top: 25px;
    padding-bottom: 10px;
    width: 50%;
    margin: auto;
    display: block;
    border-bottom: 2px solid #06c8d9;
}
.title{
    color: #1B98F5;
    font-weight: bold;
    cursor: pointer;
}
.semi-title {
    font-size: 23px;
    padding: 10px 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

/* selected product style start here  */
.selectes-title{
    font-size: 20px;
    border-bottom: 2px solid #560bad;
    padding-bottom: 10px;
}
#warning{
    margin:20px 0px;
    padding: 5px;
    font-size: 14px;
    color: #cb3439;
    border: 1px solid #cb3439;
    text-align: center;
    border-radius: 5px;
    background-color:#ffc0cb;
}
#win{
    margin:20px 0px;
    padding: 5px;
    font-size: 14px;
    color: #ffff;
    display: none;
    text-align: center;
    border-radius: 5px;
    background-color:#38CC77;
}
#random-container{
    display: none;
}

/* error massage  */
#error-massage{
    margin:20px 0px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    opacity: 1;
    display: none;
    color: #cb3439;
    border: 1px solid #cb3439;
    text-align: center;
    border-radius: 5px;
    transition: .3s ease-in;
    background-color:#ffc0cb;
    animation-name: error-animation;
    animation-duration: 1s;
}

@keyframes error-animation {
    0%{
     opacity: 0;
     transform: translateY(-10px);
    }
    50%{
        opacity: 1;
    }
    100%{
     opacity: 1;
    }
  }

.show-products{
    position: sticky;
    top: 30px;
    margin-top: 67px;
    background-color:#fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.chooseOne-btn{
    border: 1px solid #06c8d9;
    width: 100%;
    padding: 6px 10px;
    border-radius: 25px;
    color: #06c8d9;
    background-color: #fff;
    transition: .3s ease-in;
}
.chooseOne-btn:hover{
    background-color:#06c8d9;
    color: #fff;
}

.chooseAgain-btn{
    color: #560bad;
    width: 100%;
    padding: 6px 10px;
    border-radius: 25px;
    margin-top: 10px;
    border: 1px solid #560bad;
    background-color: #fff;
    transition: .3s ease-in;
}
.chooseAgain-btn:hover{
    background-color:#560bad;
    color: #fff;
}


/* media queiry  */

/* medius device  */
@media screen and (max-width:1024px) {
    .main-title{
        width: 70%;
    }
    .selectes-title{
        font-size: 18px;
    }
}

/* small device  */
@media screen and (max-width:576px) {
    .main-title{
        width: 80%;
    }
}

