
.main-title{
    padding-top: 25px;
    padding-bottom: 10px;
    width: 50%;
    margin: 30px auto;
    display: block;
    border-bottom: 2px solid #06c8d9;
}
.title{
    color: #1B98F5;
    font-weight: bold;
}
.semi-title {
    font-size: 25px;
    margin-bottom: 12px;
    margin-top: 10px;
}

/* selected product style start here  */
.selectes-title{
    font-size: 20px;
    border-bottom: 2px solid #560bad;
    padding-bottom: 10px;
}
#warning{
    margin:20px 0px;
    padding: 5px;
    font-size: 14px;
    color: #cb3439;
    border: 1px solid #cb3439;
    text-align: center;
    border-radius: 5px;
    background-color:#ffc0cb;
}
#win{
    margin:20px 0px;
    padding: 5px;
    font-size: 14px;
    color: #ffff;
    display: none;
    text-align: center;
    border-radius: 5px;
    background-color:#38CC77;
}
.show-products{
    position: sticky;
    top: 30px;
    margin-top: 20px;
    background-color:#fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.chooseOne-btn{
    border: 1px solid #06c8d9;
    width: 100%;
    padding: 6px 10px;
    border-radius: 25px;
    color: #06c8d9;
    background-color: #fff;
    transition: .3s ease-in;
}
.chooseOne-btn:hover{
    background-color:#06c8d9;
    color: #fff;
}

.chooseAgain-btn{
    color: #560bad;
    width: 100%;
    padding: 6px 10px;
    border-radius: 25px;
    margin-top: 10px;
    border: 1px solid #560bad;
    background-color: #fff;
    transition: .3s ease-in;
}
.chooseAgain-btn:hover{
    background-color:#560bad;
    color: #fff;
}
   