
/*------------------------------
random product start here
-----------------------------  */
.random-Product{
    display: flex;
    padding: 5px;
    border-radius: 5px;
    background-color:#efefef;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.random-Product p{
    margin-top: 14px;
    font-size: 14px;
    margin-left: 10px;
}
.random-img-frame{
    width: 20%;
}
.random-img-frame img{
    width: 100%;
    border-radius: 50%;
}
